*.o
*.a
*.so
*.log
*.trs
*~
.deps
.dirstamp
note*
aclocal.m4
config.h.in
config
config.status
config.h
config.h.in
aclocal.m4
stamp-h1
COPYING.GNU
Junk
autom4te.cache
Makefile
Makefile.in
git_notes
.remake_trigger
doc/gigatraj.dconf
doc/gigatraj.pdf
doc/gigatraj.rtf
doc/html
doc/latex
doc/man
doc/rtf
doc/latex_yes.dconf
doc/gigatraj_base.dconf
doc/.doc_stamp
doc/.remake_trigger
doc/gigatraj_docs.tgz
doc/Makefile.in
doc/gigatraj_intro.pdf
eval/cfc11/
eval/raikoke/
eval/qbo/
eval/gigatraj_2019-10-01.pdf
eval/coords/*.dat
eval/coords/gt01_p.init
eval/coords/gt02_theta.init
eval/mpi/test_*.dat
eval/mpi/test_*.err
eval/mpi/test_*.txt
eval/mpi/test_*.init
include/gigatraj/Makefile.in
include/gigatraj/gigatraj.hh
lib/.deps/
lib/filters/Makefile.in
lib/metsources/Makefile.in
lib/metsources/metnotes
lib/metsources/MERRA_File_Specification.pdf
lib/Makefile.in
src/.deps
src/gt_fill_met_cache
src/gt_generate_parcels
src/gtmodel_s01
src/gtmodel_s02
src/gtmodel_m01
src/gtmodel_m02
test/Makefile.in
test/.deps/
test/junknotes
test/comms_notes
test/test_BilinearHinterp
test/test_BilinearHinterp_MPI
test/test_BilinearHinterp_serial
test/test_Catalog
test/test_Configuration
test/test_Earth
test/test_FilePath
test/test_FileLock
test/test_CalGregorian
test/test_FlockMPI
test/test_SwarmMPI
test/test_FlockSerial
test/test_SwarmSerial
test/test_GridLatLonField3D
test/test_GridLatLonField3D_MPI
test/test_GridLatLonField3D_serial
test/test_GridLatLonFieldSfc
test/test_GridLatLonFieldSfc_MPI
test/test_GridLatLonFieldSfc_serial
test/test_GridFieldProfile
test/test_GridFieldProfile_MPI
test/test_GridFieldProfile_serial
test/test_GridFieldDim
test/test_GridFieldDim_MPI
test/test_GridFieldDim_serial
test/test_GridFieldDimLon
test/test_GridFieldDimLon_MPI
test/test_GridFieldDimLon_serial
test/test_LinearVinterp
test/test_LogLinearVinterp
test/test_MPI.sh
test/test_MPIGrp
test/test_MPIGrp.sh.O
test/test_MetSBRot
test/test_MetGridSBRot
test/test_PAltOTF
test/test_PAltDotOTF
test/test_PGenFile
test/test_PGenGrid
test/test_PGenRep
test/test_PGenRnd
test/test_PGenRndDisc
test/test_PGenDisc
test/test_PGenNetcdf
test/test_Parcel
test/test_RandomSrc
test/test_SerialGrp
test/test_StreamDump_Load
test/test_StreamPrint
test/test_StreamRead
test/test_ThetaOTF
test/test_TropOTF
test/test_SZAOTF
test/test_traj000
test/test_traj001
test/test_traj010
test/test_FileLock_Serial
test/test_FileLock_MPI
test/test_MetGridSBRot_MPI
test/test_MetGridSBRot_serial
test/test_MetSBRot_MPI
test/test_MetSBRot_serial
test/test_DensOTF
test/test_MetMERRA
test/test_MetMERRA2
test/test_MetGEOSfpAssim
test/test_MetGEOSfpFcast
test/test_MetGEOSfp
test/test_MetMyGEOS
test/test_MetSelector
test/test_PressOTF
test/test_ThetaDotOTF
test/test_BalanceThetaDot1OTF
test/test_StreamPrintMPI
test/test_StreamReadMPI
test/test_ChangeVertical
test/test_NetcdfIn
test/test_NetcdfOutMPI
test/test_NetcdfInMPI
test/test_NetcdfOut
test/valgrind*.log
gigatraj*.tar.gz
*.zip
eval/testing
changed_list.txt
